.topBar{
  width: 100%;
  background-color: #3d3d3d;
}

p.icon, p.headerName{
  display:inline-block;
  color: #ffffff;
}

p.headerName{
  padding: 0px 0px 0px 17px;
}

p.icon{
  float:right;
  padding: 0px 16px;
  transition: 0.3s;
}

p.icon a, ul.topnav a{
  text-decoration: none;
}

p.icon a, p.icon a:visited, p.icon a:hover, p.icon a:active {
  color: inherit;
}


ul.topnav.responsive {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


ul.topnav.responsive li {
    float: none;
    display: inline;
    float: left;
}

ul.topnav.responsive li a {
    display: block;
    text-align: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

ul.topnav li {
  float: left;
  display:none;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

.heroImage{
  background-color: blue;
}

/*
ul.topnav{
  background-color: #333;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float:left;
  width:100%;
  color: #ffffff;
}

ul.topnav li{
  width:100%;
}

ul.topnav li a{
  width:100%;
}

ul.topnav li a, ul.topnav li a:visited, ul.topnav li a:visited{
  color:inherit;
}

ul.topnav li a:hover{
  background-color: red;
}


*/

/*
nav{
  background-color: #333;
  margin: 0;
  padding: 0;
  display:inline-block;
  width: 100%;
}

p.header-name{
  float: left;
  font-size: 17px;

}

/* Remove margins and padding from the list, and add a black background color */
/*
ul.topnav {
    list-style-type: none;
    overflow: hidden;
}

/*Burger menu*/

/*ul.topnav li{
  display: none;
}

ul.topnav li a{
  text-decoration: none;
}

ul.topnav li.icon {
  float: right;
  display: inline-block;
  font-size: 27px;
  color: #f2f2f2;
  padding: 14px 16px;
  transition: 0.3s;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}
*/



/*

@media screen and (min-width:920px){
  /* Hide the list item that contains the link that should open and close the topnav on small screens */
 

