.topBar{
  width: 100%;
  background-color: #01A5A8;
}

.wrap{
	max-width: 960px;
	margin: 40px auto;
}

p.icon, p.headerName{
  display:inline-block;
  color: #ffffff;
}

p.headerName{
  padding: 0px 0px 0px 17px;
}

p.icon{
  float:right;
  padding: 14px 16px;
  margin: 0px 0px;
  transition: 0.3s;
}

p.icon a, ul.topnav a{
  text-decoration: none;
}

p.icon a, p.icon a:visited, p.icon a:hover, p.icon a:active {
  color: inherit;
}

main{
	margin-top: 0px;
}

ul.topnav.responsive {
  
  display: inline-block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242D32;
  width:100%;
}

ul.topnav.responsive li {
    display: block;
    height: 35px;
    color: #01A5A8;
    padding: 15px 0px 0px 30px;
}

ul.topnav.responsive li:hover, li:active{
    background-color: #F2385A;
    color: #FFFFFF;
}

ul.topnav.responsive li a {
  color: inherit;
}

ul.topnav{
	display:none;
}


.heroImage{
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 365px;
		text-align: center;
		background-size: 100%;
		background-repeat: no-repeat;
    	font-size: 1.25em;
    	font-weight: 200;
    	color: #ffffff;
    	padding-top: 10px;
    	background-color: #F2385A;
    }

.bold{
	font-weight: bold; 
}

button.hire, button{
	background-color: #F5C639;
	border: solid #F5C639;
	color: #ffffff;
	width: 254px;
	height: 40px;
	font-weight: bold;
	margin-top: 40px;
}

button.hire:hover, button:hover{
	background-color: #01A5A8;
 	color: #ffffff;
	border: solid #01A5A8;
	font-weight: bold;
}

.big{
	font-size: 1.75em;
}

h2{
	font-size: 1em;
	text-align: center;
	padding-top: 40px;
}

h3{
	margin: 0 0 0 0;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.skills{
	max-width:960px;
	display: table;
	margin: 0 auto;
}

hr{
	width: 300px;
	border:solid #000000 1px;
}

hr.white{
	width: 300px;
	border:solid #ffffff 1px;
}

.box {
	text-align: center;
	margin: 50px 40px 60px 40px;
}

.box img {
	height: 100px;
}

/*Portfolio styles*/
.portfolio{
	background-color:#242D32;
	color: #ffffff;
	text-align: center
}

/*Footer styles*/
footer{
	text-align: center;
}

footer a{
	text-decoration: none;
	color:#242D32;
}

/*Contact styles*/
.contact{
	background-color: #F2385A;
	color: #ffffff;
	margin: 40px auto;
	height: 100%;
	text-align: center;
	padding: 0px 20px 40px 20px;
}

input{
	width: 250px;
	border: solid #242D32 2px;
	display:block;
	margin: 10px auto;
}

textarea{
	width: 250px;
	height: 150px;
	font-family: Arial;
	font-size: 13px;
	border: solid #242D32 2px;
}


@media screen and (min-width:469px){
	.heroImage{
		height: 300px;
	}
}

@media screen and (min-width: 768px){
	.box:nth-child(even) {
		margin: 50px 40px 60px 40px;
		display:inline-block;
		width: 38%;
		float:left;
	}

	.box:nth-child(odd){
		display:inline-block;
		width: 38%;
		float:right;
	}

	.contact p{
		max-width: 700px;
		margin: 20px auto 20px auto;
	}

	input{
		display: inline-block;
	}

	textarea{
		display: block;
		margin: 0 auto;
		width: 509px;
	}

}

@media screen and (min-width:860px){



	header{
		width:80%;
		margin: 0 auto;
		display: block;	
	}


	.topBar{
		position: absolute;
		width: 80%;
		margin: 0px auto;
		background-color: transparent;
	}

	nav{
		float:right;
		width:80%;
		position: absolute;
		margin-top: 0px;
		margin-right: 0px;
	}	

	ul.topnav{
		display:inline-block;
		list-style-type: none;
		
  		padding: 0;
		height: 50px;
		color: #ffffff;
		float: right;
		margin-top:0px;
	}

	ul.topnav li a:visited{
		color: inherit;
	}

	ul.topnav li{
		display:inline-block;
		padding: 16px 12px 16px 12px;
	}

	ul.topnav.responsive{
		display:none;
	}

	p.icon{
		display:none;
	}

	.hero{
		height: 454px;
	}

	.heroImage{
		min-height:454px;
		background-image: url("../images/dev.jpeg");

	}

	.heroImageText {
		margin-top: 110px;
	}

	ul.topnav li:hover, li:active{
	    background-color: #F2385A;
	    color: #FFFFFF;
	}

	.box:nth-child(even) {
		min-width: 40%;
		float:left;
	}

	.box:nth-child(odd){
		min-width: 40%;
		float: right;
	}


}